<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>H2..OH</title>
</head>
<body ng-app="dispenser.home" ng-controller="homeController">

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">H2..OH</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h1>H2.. Oh</h1>
                <p>Here is a cool application to help you track your water intake. Leaderboards, history, charts and
                    graphs and so much to help you keep yourself hydrated </p>
                <input type="text" placeholder="Employee ID" ng-model="empId">
                <input type="button" class="btn-primary" ng-click="showUserData()" value="Enter">
                <!--<button ng-click="showUserData()">Enter</button>-->
                <!--<p>-->
                    <!--<a class="btn btn-lg btn-primary" role="button" data-toggle="modal" data-target="#myModal">Wohoo !!-->
                        <!--Take me in..</a>-->
                <!--</p>-->


                <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                    <!--<div class="modal-dialog" role="document">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                                        <!--aria-hidden="true">&times;</span></button>-->
                                <!--<h4 class="modal-title" id="myModalLabel">Login</h4>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<em>Please enter our employee ID</em>-->

                                <!--<form class="form-inline">-->
                                    <!--<div class="form-group">-->
                                        <!--<label class="sr-only" for="exampleInputEmail3">Email address</label>-->
                                        <!--<input type="text" class="form-control" id="exampleInputEmail3" ng-model="employeeId"-->
                                               <!--placeholder="99999">-->
                                    <!--</div>-->

                                <!--</form>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                <!--<button type="button" class="btn btn-primary" onsubmit="something()">Submit</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
        </div>
        <div class="col-md-8" ng-if="info">
            <div class="jumbotron">
                <h2>Hi {{getEmpName() | uppercase}}</h2>
                <h3>You Have Consumed {{consumptionAmount}} ml Water Today! [Since 12AM ] </h3>
                <h3>{{resultMessage}}</h3>
            </div>

        </div>
    </div>
</div>
</body>
</html>